body {
    background: #111;
    color: #edf2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./images/tiled-wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.countdown {
    background: #080f1f;
    padding: 40px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
}

.box-text {
    /* background: #0f1b3c; */
    padding: 40px;

    h3 {
        font-family: "Inter", sans-serif;
        font-weight: 300;
        letter-spacing: 0px;
        text-align: center;
        font-size: 3em;
    }
}

.borders {
    border: 10px solid gray;
    border-top: 4px solid gray; 
    border-bottom: 16px solid gray;
}